@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}


<div class="container mt-3">

    <div class="row mx-1">
        <div class="col-md-8 about-me-section py-5">
            <div class="jumbotron p-3 jumbotron-custom">
                <h3>@Model.AboutMe.Intro</h3>
                <div className="about-me-content">
                    @Html.Raw(await Model.ContentToHtml(Model.AboutMe))
                </div>
            </div>

        </div>

        <div class="col-md-4 py-5">
            <div class="row">

                @if (Model.Skills != null)
                {
                    foreach (var skill in Model.Skills)
                    {
                        <div class="col-md-4 col-3 language-icon-wrapper">
                            <i class="@skill.IconClass language-icons mb-2"></i>
                            <span style="font-family:monospace">@skill.Name</span>
                        </div>
                    }
                }
                
            </div>

        </div>
    </div>

</div>
